.container-location{
  display: flex;
  flex-wrap: wrap;
  height: auto;
  background-color: $bckgrnd-color;
}
.practical-all-location{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 0em 10em 0em 10em;
  padding: 2em 0em;
  justify-content: center;
}
.title-location{
display: flex;
flex-direction: row;
flex-wrap: wrap;
  h2{
    color: $text-light;
    font-family: $text-head;
    letter-spacing: 0.15em;
  }
}
.box-location-left{
  width: 50%;
  height: auto;
  padding-left: 2em;
  padding-top: 2em;
  border-top: 1px solid $border-light;
  border-left: 1px solid $border-light;
  h3{
    color: $text-light;

  }
  p{

     color: $text-light;
     font-size: 1em;
     line-height: 1.5em;
  }
}
.box-location-right{
  border-bottom: 1px solid $border-light;
  border-right: 1px solid $border-light;
  width: 50%;
  height: auto;
  .box-location-right-top, .box-location-right-bottom{
    height: auto;
  }
  .box-location-right-middle{
    padding: 2em;
    margin-top: 2em;
   
    h3{
      color: $text-light;
    }
    p{
      color: $text-light;
      line-height: 2em;
      font-size: 1em;
    }
  }
}
.box-location-right-top img, .box-location-right-bottom img{
  height: auto;
  width: 400px;
  padding-left: 4em;
  padding-top: 2em;
  padding-bottom: 2em;
}