.nav-bar{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: $bckgrnd-color;
  justify-content: flex-end;
  ul{
    display: flex;
    flex-wrap: wrap;
    font-size: 1rem;
  }
}
.container-all{
  //margin: 0 7em 0 7em;
  //padding: 0.5em;
}
li{
  list-style-type: none;
  flex-direction: row;
  padding: 1em 1.5em;
  :hover{
    background-color: $btn-bckgr-dark-to-light;
    color: $text-dark;
  }
  a{
    color: $text-light;
    text-decoration: none;
    padding: 1em 1.5em;
  }
}

