//achtergrondfoto
.photo {
  /* The image used */
  background-image: url("../img/lamp.jpg");

  /* Set a specific height */
  min-height: 500px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; 
}

.photo-badkamer {
  /* The image used */
  background-image: url("../img/kroon.jpg");

  /* Set a specific height */
  min-height: 400px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; 
}
//begin praktische info
.practical-info-container{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  background-color: $bckgrnd-color;
  justify-content: center;
}
.practical-all{
  margin: 0 10em 0 10em;
  padding-bottom: 2em;
}
.title-practical{
  flex-direction: column;
  font-size: 2em;
  font-family: $text-nav;
  color:$text-light;
  text-align: center;
  padding-top: 2em; 
  padding-bottom: 2em;
}
//begin container met foto & slidshow & info
 .boxen-practical{
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: space-between;
}
//box info kamers
.box-info{
  width: 45%;
  height: auto;
  justify-content: flex-end;
  padding-right: 1em;
  border-right: 1px solid $border-light;
  border-bottom: 1px solid $border-light;
  color: $text-light;
  h2{
    text-align: end;
    font-family: $text-head;
    letter-spacing: 0.15em;
  }
  p{
    font-size: 1em;
    line-height: 1.75em;
    padding: 1em;
  }
  li{
    padding: 0;
    margin-top: 1em;
    list-style-type: disc;
    margin-left: 1em;
  }
}
//box slidshow kamers
.slideshow-container{
  width: 45%;
  height: auto;
  border-top: 1px solid $border-light;
  border-left: 1px solid $border-light;
}
.mySlides-kamer, .mySlides-ontbijtruimte {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center; 
  padding: 1.0rem;
  box-shadow: 0px 0px 10px 0px rgba(25,25,25,0.5);
  img{
    width: 100%;
  }
   .p{
     display: flex;
     flex-wrap: wrap;
     flex-direction: column;
     justify-content: space-evenly;
     font-family: $text-nav;
     color: $text-light;
     font-size: 1em;
   }
}
.numbertext{
  font-family: $text-nav;
  color:$text-light;
  padding-bottom: 1em;
}
.pijlen{
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 1em;
}
/* Next & previous buttons */
.prev, .next {
  display: flex;
  text-align: center;
  cursor: pointer;
  /*position: absolute;*/
  top: 100%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color:  $pijl-light;
  font-weight: bold;
  font-size: 30px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none; 
}

/* The dots/bullets/indicators */
.dot-kamer, .dot-ontbijtruimte {
cursor: pointer;
height: 12px;
width: 12px;
margin: 0 1px;
background-color: $pijl-light;
border-radius: 50%;
display: inline-block;
transition: background-color 0.6s ease;
}

.active, .dot:hover {
background-color: #fff;
}

/* Fading animation */
.fade {
-webkit-animation-name: fade;
-webkit-animation-duration: 1.5s;
animation-name: fade;
animation-duration: 1.5s;
}
@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}


