//achtergrond header
$bckgrnd-color: #191919;

//tekst kleur in donkere achtergrond
$text-light: #AD8D55;

//tekst kleur  in lichte achtergrond
$text-dark: #191919;

//lettertype normaal
$text-nav: 'Merriweather', serif;
//lettertype hotel oude eycke
$text-head: 'Great Vibes', cursive;
//buttons
$btn-bckgr-dark-to-light: #AD8D55;
//border
$border-light: #AD8D55;
$border-dark: #191919;
//kleur pijlen
$pijl-light: #AD8D55;
