@import url("https://fonts.googleapis.com/css?family=Merriweather&display=swap");
@import url("https://fonts.googleapis.com/css?family=Great+Vibes|Mansalva|Merriweather&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input, select {
  vertical-align: middle;
}

head {
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  min-height: 100%;
}

html {
  min-height: 100%;
}

.reserveer-btn {
  padding: 1.2em 1.5em;
  font-family: "Merriweather", serif;
  background-color: #E04644;
  border: none;
  color: #191919;
  font-weight: bold;
}

.reserveer-btn:hover {
  background-color: #191919;
  color: #AD8D55;
}

.photo-kamer {
  /* The image used */
  background-image: url("../img/lamp.jpg");
  /* Set a specific height */
  min-height: 500px;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.photo-ontbijtruimte {
  /* The image used */
  background-image: url("../img/kroon.jpg");
  /* Set a specific height */
  min-height: 400px;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.photo-zaal {
  /* The image used */
  background-image: url("../img/blauwesteen.jpg");
  /* Set a specific height */
  min-height: 500px;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.photo-check-in {
  /* The image used */
  background-image: url("../img/sfeer2.jpg");
  /* Set a specific height */
  min-height: 500px;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.photo-prijs {
  /* The image used */
  background-image: url("../img/sfeer1.jpg");
  /* Set a specific height */
  min-height: 500px;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.photo-reservation {
  /* The image used */
  background-image: url("../img/sfeer6.jpg");
  /* Set a specific height */
  min-height: 500px;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.photo-aboutus {
  /* The image used */
  background-image: url("../img/sfeer5.jpg");
  /* Set a specific height */
  min-height: 500px;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.container-header {
  display: block;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #191919;
  z-index: 1;
  height: 30vh;
  width: 100%;
  top: 0;
}
.container-header h1.shimmer {
  font-family: "Great Vibes", cursive;
  padding: 0 20px 0 0;
  margin-bottom: 0;
  letter-spacing: 0.15em;
}

h2 {
  color: #AD8D55;
  font-size: 2em;
  padding-bottom: 1em;
  padding-top: 1em;
}

h1 {
  color: #AD8D55;
  font-size: 3em;
}

.shimmer {
  background: linear-gradient(to right, #AD8D55, #AD8D55, #cdba99 70%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.nav-bar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #191919;
  justify-content: flex-end;
}
.nav-bar ul {
  display: flex;
  flex-wrap: wrap;
  font-size: 1rem;
}

li {
  list-style-type: none;
  flex-direction: row;
  padding: 1em 1.5em;
}
li :hover {
  background-color: #AD8D55;
  color: #191919;
}
li a {
  color: #AD8D55;
  text-decoration: none;
  padding: 1em 1.5em;
}

.practical-info-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  background-color: #191919;
  justify-content: center;
}

.practical-all {
  margin: 0 10em 0 10em;
  padding-bottom: 2em;
}

.title-practical {
  flex-direction: column;
  font-size: 2em;
  font-family: "Merriweather", serif;
  color: #AD8D55;
  text-align: center;
  padding-top: 2em;
  padding-bottom: 2em;
}

.boxen-practical {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  border-top: 1px solid #AD8D55;
  border-left: 1px solid #AD8D55;
}

.box-info {
  width: 45%;
  height: auto;
  justify-content: flex-end;
  padding-right: 1em;
  border-right: 1px solid #AD8D55;
  border-bottom: 1px solid #AD8D55;
  color: #AD8D55;
}
.box-info h2 {
  text-align: end;
  font-family: "Great Vibes", cursive;
  letter-spacing: 0.15em;
  padding-right: 1em;
}
.box-info p {
  font-size: 1em;
  line-height: 1.75em;
  padding: 1em;
}
.box-info li {
  padding: 0;
  margin-top: 1em;
  list-style-type: disc;
  margin-left: 1em;
}

.slideshow-container {
  width: 45%;
  height: auto;
}

.mySlides-kamer, .mySlides-ontbijtruimte, .mySlides-zaal {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
  padding: 1em;
  margin-left: 2em;
  margin-top: 8em;
  box-shadow: 0px 0px 10px 0px rgba(173, 141, 85, 0.5);
}
.mySlides-kamer img, .mySlides-ontbijtruimte img, .mySlides-zaal img {
  height: 250px;
}
.mySlides-kamer .p, .mySlides-ontbijtruimte .p, .mySlides-zaal .p {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-evenly;
  font-family: "Merriweather", serif;
  color: #AD8D55;
  font-size: 1em;
}

.numbertext {
  font-family: "Merriweather", serif;
  color: #AD8D55;
  padding-bottom: 1em;
}

.pijlen {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 1em;
  padding-top: 1em;
}

/* Next & previous buttons */
.prev, .next {
  display: flex;
  text-align: center;
  cursor: pointer;
  /*position: absolute;*/
  top: 100%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: #AD8D55;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* The dots/bullets/indicators */
.dot-kamer, .dot-ontbijtruimte, .dot-zaal {
  cursor: pointer;
  height: 12px;
  width: 12px;
  margin: 0 1px;
  background-color: #AD8D55;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #fff;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
.container-check-in {
  display: flex;
  flex-wrap: wrap;
  background-color: #191919;
}

.practical-all-checkin {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  margin: 0em 0em 0em 10em;
  padding: 2em 0em;
}

.boxen-practical-checkin {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
}

.box-checkin-photo {
  width: 40%;
  border-left: 1px solid #AD8D55;
  border-top: 1px solid #AD8D55;
  border-bottom: 1px solid #AD8D55;
  padding-left: 2em;
  padding-top: 4em;
}

.sfeer-photo {
  width: 80%;
  padding-top: 1em;
}

.box-checkin-text {
  width: 60%;
  height: auto;
}

.box-checkin-text1 {
  height: auto;
  font-size: 1em;
  padding: 1em;
  background-color: #191919;
  color: #AD8D55;
  line-height: 1.75em;
}

.box-checkin-text1:nth-child(2) {
  background-color: #AD8D55;
  color: #191919;
}
.box-checkin-text1:nth-child(2) h2 {
  color: #191919;
}

.prijs {
  display: flex;
  flex-wrap: wrap;
  background-color: #AD8D55;
  width: 100%;
  height: auto;
  justify-content: center;
}

.container-prijs {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.title-prijs {
  width: 100%;
  text-align: center;
}

.title-prijs h1 {
  color: #191919;
  font-family: "Great Vibes", cursive;
  font-size: 2em;
}

.inhoud-prijs {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  height: auto;
  padding-bottom: 2em;
}

.title-prijs {
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-start;
  font-size: 1.5em;
  padding-top: 2em;
}

.container-btn {
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-end;
  padding-top: 0.5em;
}

.kamer-1-persoon, .kamer-2-personen, .extra-optie {
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  border: 1px solid #191919;
  box-shadow: 0px 0px 10px 0px rgba(25, 25, 25, 0.5);
  padding: 0.5em;
}

th {
  text-align: center;
  font-family: "Merriweather", serif;
  padding-bottom: 1em;
}

td {
  text-align: center;
  font-family: "Merriweather", serif;
}

.container-reservation {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 300px;
  background-color: #191919;
}

.practical-all-reservation {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 0em 0em 0em 10em;
  padding: 2em 0em;
}

.container-location {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 300px;
  background-color: #191919;
}

.practical-all-location {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 0em 0em 0em 10em;
  padding: 2em 0em;
}

.container-aboutus {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  background-color: #191919;
}

.practical-all-aboutus {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 0em 10em 0em 10em;
  padding: 2em 0em;
}
.practical-all-aboutus h2 {
  color: #AD8D55;
  text-align: end;
  font-family: "Great Vibes", cursive;
  letter-spacing: 0.15em;
}

.box-text-aboutus {
  border-left: 1px solid #AD8D55;
  border-bottom: 1px solid #AD8D55;
  width: 60%;
  height: auto;
  color: #AD8D55;
  font-size: 1em;
  line-height: 1.75em;
  padding: 1em;
}
.box-text-aboutus p {
  padding-bottom: 1em;
}

.box-photo-aboutus {
  border-top: 1px solid #AD8D55;
  border-right: 1px solid #AD8D55;
  width: 40%;
  height: auto;
  padding: 1em;
}
.box-photo-aboutus img {
  width: 90%;
  margin-top: 8em;
}

.onze-troeven li {
  color: #AD8D55;
  padding: 0;
  margin-top: 1em;
  list-style-type: disc;
  margin-left: 1em;
}

/*# sourceMappingURL=main.css.map */
